<div>
  <div class="brand-filter">
    <a href="/collections/all" class="filter-button">SHOP BY BRAND NAME</a>
    <ul class="brand-list">
      <li>
        <a href="/collections/adams-headwear">Adams Headwear</a>
      </li>
      <li>
        <a href="/collections/imperial-hats">Imperial Hats</a>
      </li>
      <li>
        <a href="/collections/kati-sportsman">Kati/Sportsman</a>
      </li>
      <li>
        <a href="/collections/legacy-headwear">Legacy Headwear</a>
      </li>
      <li>
        <a href="/collections/mega">Mega</a>
      </li>
      <li>
        <a href="/collections/otto-hats">Otto Hats</a>
      </li>
      <li>
        <a href="/collections/outdoor-caps">Outdoor Caps</a>
      </li>
      <li>
        <a href="/collections/pacific-headwear-augusta">Pacific Headwear Augusta</a>
      </li>
      <li>
        <a href="/collections/reprime">Reprime</a>
      </li>
      <li>
        <a href="/collections/richardson-hats-all-styles">Richardson Hats: All Styles</a>
      </li>
    </ul>
  </div>
</div>