<div class="filter-main">
  <div class="brand-filter">
    <a href="/collections/all" class="filter-button">SHOP BY BRAND NAME</a>
    <ul class="brand-list">
  {% for link in linklists[section.settings.selected_menu].links %}
    <li>
      <a href="{{ link.url }}" class="brand-link">{{ link.title }}</a>
      {% if link.links.size > 0 %}
        <ul class="brand-dropdown">
          {% for child_link in link.links %}
            <li>
              <a href="{{ child_link.url }}" class="brand-child-link">{{ child_link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>

  </div>
</div>

{% schema %}
  {
    "name": "Filter 1",
    "settings": [
      {
        "type": "link_list",
        "id": "selected_menu",
        "label": "Select a Menu"
      }
    ],
    "presets": [
      {
        "name": "Custom Filter",
        "category": "Custom"
      }
    ]
  }
{% endschema %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const brandLinks = document.querySelectorAll('.brand-link');
    
    brandLinks.forEach(link => {
      link.addEventListener('click', function(event) {
        brandLinks.forEach(link => link.classList.remove('active'));
        event.target.classList.add('active');
      });
    });

    const currentUrl = window.location.pathname;
    brandLinks.forEach(link => {
      if (link.getAttribute('href') === currentUrl) {
        link.classList.add('active');
      }
    });
  });
</script>
