.filter-main {
  background: black;
  padding:13px 0;
}
.brand-filter {
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.brand-link {
  text-decoration: none;
}
.filter-button {
    text-decoration: none;
    color: #fff;
    background: #a53336;
    padding: 5px 39px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: normal;
}
.brand-list {
  display: flex;
  align-items: center;
  gap:35px;
 
}
.brand-list li {
  list-style: none;
  position: relative;
}
.brand-link {
  color: white;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing:-0.3px;
}
.brand-link.active {
  color: #a53336;
}
.brand-link:hover {
  color: #a53336;
}
.brand-dropdown {
  position: absolute;
  display: none;
  background: black; 
  padding: 20px 20px ;
  border-radius: 5px;
  top: 100%; 
  left: 0;
  z-index: 1;
}
.brand-dropdown li a{
  color: white;
  text-decoration: none;
}

.brand-list li:hover .brand-dropdown {
  display: block;
}
.brand-dropdown li a:hover{
  color: #a53336;
}