.filter-main {
  padding: 0 40px;
  background: black;
}
.brand-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand-link {
  text-decoration: none;
}
.filter-button {
  text-decoration: none;
  color: white;
  background: #a53336;
  padding: 3px 44px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}
.brand-list {
  display: flex;
  align-items: center;
  gap: 12px;
}
.brand-list li {
  list-style: none;
  position: relative;
}
.brand-link {
  color: white;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
}
.brand-link.active {
  background: #a53336;
}
.brand-link:hover {
  background: #a53336;
}
.brand-dropdown {
  position: absolute;
  display: none;
  background: black; 
  padding: 20px 20px ;
  border-radius: 5px;
  top: 100%; 
  left: 0;

  z-index: 1;
}
.brand-dropdown li a{
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
}

.brand-list li:hover .brand-dropdown {
  display: block;
}
.brand-dropdown li a:hover{
  background: #a53336;
}