.custom-navbar {
  padding: 12.2px 0px;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-navbar .logo img {
  width: 290px;
  height: 57px;
}

.search-bar form {
  display: flex;
  align-items: center;
  border: 1px solid #a53336;

  background-color: white;
  width: 668px;
  max-width: 668px;
  border-radius: 5px;
}
.search-bar input::placeholder {
  color: #c3c3c3;
  font-size: 14px;
  opacity: 1;
  font-weight: 500;
}
.search-bar input[type="text"] {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 14px;
  border-radius: 5px;
}

.search-bar button {
  background-color: #a53336;
  color: white;
  border: none;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  align-items: center;
  padding: 13px 20px;
  cursor: pointer;
}
.cart-login-section {
  display: flex;
  align-items: center;
  gap:23px;
}
.custom-hr {
  height: 14px;
  width: 1px;
  background-color: #cbcbcb;
  display:block ! important;
}
.nav-links {
  display: flex;
  align-items: center;
  gap:13px;
}
.nav-links a {
  color: #a53336;
 
}
.custom-btns {
  display: flex;
  align-items: center;
  gap: 13px;
}
.cart-login-section .a_tag_1 , .a_tag_2 {
  background-color: #a53336;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  border-radius: 5px;
  
}
.cart-login-section .a_tag_1{
  padding: 10px 24px;
}
.cart-login-section .a_tag_2{
  padding: 10px 14px;
}